@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Light-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Regular-Trial.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Medium-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Bold-Trial.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "GT-America-Mono";
  src: url("/fonts/GT-America-Mono-Regular-Trial.woff") format("woff");
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Regular-Trial.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Medium-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Bold-Trial.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "GT-America-Expanded";
  src: url("/fonts/GT-America-Expanded-Bold-Trial.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "GT-America-Expanded";
  src: url("/fonts/GT-America-Expanded-Medium-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

:root {
  --background: #f5f1eb;
  --foreground: #332b29;
  --border: #dcd4c9;
}

body {
  color: var(--foreground);
  font-family: "GT-America", sans-serif;
  min-height: 100vh;
  padding-top: 20px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/noise.png") lightgray 0% 0% / 148.5629677772522px
    148.5629677772522px repeat;
  opacity: 0.1;
  z-index: -1;
}

/* Ensure other content is above the background */
body > * {
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GT-America-Extended", sans-serif;
}

a:hover {
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  fill: none;
  /* stroke: currentColor; */
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ced2d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--secondaryBtn);
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--secondaryBtn);
  cursor: pointer;
}

.custom-scroll::-webkit-scrollbar {
  background-color: rgb(161 253 89 / 0.5);
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-corner {
  background-color: rgb(161 253 89 / 0.5);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(131, 230, 56);
  border-radius: 10px;
}
