@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Light-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Regular-Trial.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Medium-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Bold-Trial.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "GT-America-Mono";
  src: url("/fonts/GT-America-Mono-Regular-Trial.woff") format("woff");
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Regular-Trial.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GT-America-Expanded";
  src: url("/fonts/GT-America-Expanded-Bold-Trial.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "GT-America-Expanded";
  src: url("/fonts/GT-America-Expanded-Medium-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

:root {
  --background: #F5F1EB;
  --foreground: #332B29;
  --border: #DCD4C9;
}

body {
  color: var(--foreground);
  font-family: "GT-America", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-top: 20px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/noise.png") lightgray 0% 0% / 148.5629677772522px 148.5629677772522px repeat;
  opacity: 0.1;
  z-index: -1;
}

/* Ensure other content is above the background */
body > * {
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GT-America-Extended", sans-serif;
}

a:hover {
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top; 
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
