@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Light-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Regular-Trial.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Medium-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Bold-Trial.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Regular-Trial.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Medium-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Bold-Trial.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GT-America", sans-serif;
}
