@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Light-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Regular-Trial.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Medium-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/GT-America-Standard-Bold-Trial.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Regular-Trial.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Medium-Trial.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GT-America-Extended";
  src: url("/fonts/GT-America-Extended-Bold-Trial.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

.custom-screen {
  @apply max-w-screen-xl mx-auto px-4 lg:px-8;
}

.gradient-border {
  border: 1px solid transparent;
  background: linear-gradient(white, white),
    linear-gradient(
      25deg,
      rgba(209, 213, 219, 1),
      rgba(209, 213, 219, 1),
      rgba(0, 0, 0, 0.63),
      rgba(209, 213, 219, 1),
      rgba(209, 213, 219, 1)
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.body {
  background: #f5f1eb url("/background.png");
  background-repeat: repeat-x;
  background-attachment: fixed;

  /* Stack the color and image */
  background-blend-mode: multiply;
  color: #332b29;
}

@media (max-width: 1260px) {
  .body {
    background-repeat: repeat;
  }
}

.text__color--main {
  color: #332b29;
}
