@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F1EB;
  --foreground: #332B29;
  --border: #DCD4C9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #332B29;
    --foreground: #F5F1EB;
    --border: #6D655D;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "IBM Plex Sans", sans-serif;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top; 
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
